*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body{
    background-color: #8581ca;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.box{
    background-color: white;
    padding-top: 30px;
    padding: 30px;
    border-radius: 7px;
}

.box h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
}

